<% layout('layouts/boilerplate') %>
    <h1>All Campground</h1>

    <div> <a href="/campgrounds/new"> Add Campground </a></div>

        <!--Retrieving all our MongoDB data and display them run a for loop and access campground.title fields -->
        <% for (let campground of campgrounds) { %>
           <div class="card" mb-3>
            <div class="row">
                <div class="col-md-4">
                    <!-- Placeholder google image, not sure why unsplash is not working -->
                    <!-- <img class="img-fluid" alt="" src="<%= campground.image %>"> -->
                    <img class="img-fluid" alt="" src="https://i.pinimg.com/originals/93/c0/fc/93c0fc8ca2141a85dc1d871556ae3418.jpg">
                </div>

                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">  <%= campground.title %> </h5>
                        <p class="card-text"><%=campground.description%></p>
                        <p class="card-text">
                            <small class="text-muted"> <%= campground.location %> </small>    
                        </p>

                        <a href="/campgrounds/<%= campground._id %>" class="btn text-white" style="background-color: #0B1A26" > view <%= campground.title %> </a>

                    </div>
                </div>
            </div>
           </div>
            <% } %>
      

